.menu-closeds {   
    padding-left: 263px;
    transform: translateX(0.5);
  }

  a{
    cursor: pointer !important;
  }
.content-wrapper{
     font-family: 'Red Hat Display', sans-serif;
  
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
  /* letter-spacing: 0.4px; */
  line-height: 1.3em;
}
textarea::after{
  border: 1px solid black;
}

li{
  cursor: pointer;
}

.locations li, .other-score li {
  margin: 10px;
  cursor: pointer;
}

.locations li .hover-text {
display: none;
}

.locations li:hover .hover-text {
display: block;
}
.locations li:hover p:not(.hover-text) {
display: none;
}
.sideBarClose {
  padding-left: 250px;
  margin-left: 0px;
  }
  .sideBarOpen{
    padding-left: 0px;
  }

  .main_score::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: url(../../../../assets/given/img/rupee-icon-white.png) no-repeat;
    position: absolute;
    left: -50px;
    top: 12px;
  }
  
  .main_score::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: url(../../../../assets/given/img/crore-icon.png) no-repeat;
    position: absolute;
    right: -55px;
    top: 12px;
  }

  .incremental-counter.main_score {
    width: fit-content;
    margin: 0 auto;
    position: relative;
  }

  li{
    cursor: pointer;
  }
  // .locations li{
  //   cursor: pointer;
  // }
  .locations li, .other-score li {
    margin: 10px;
    cursor: pointer;
}

.locations li .hover-text {
  display: none;
}

.locations li:hover .hover-text {
  display: block;
}
.locations li:hover p:not(.hover-text) {
display: none;
}

.other-score li a{
  width: 160px !important;
}
