
.forms-control:focus{
  border-color: 1px solid black;
  outline: 0;
  box-shadow: none;
}
.content-wrapper{
  background: var(--background-white) repeat top center;
}

.container-fluid {
  transition: padding-left 0.3s ease, transform 0.3s ease;
}
.menu-opens {
  padding-left: 0%;
  transform: translateX(0.5);
  
}

.menu-closeds {
  padding-left: 267px;
  transform: translateX(0.5);
 
}

  .forms-control:focus{
    border-color: 1px solid black;
    outline: 0;
    box-shadow: none;
  }
  .dropdown-list li:hover{
    background-color: #0051bf !important;
    color: white; 
    cursor: pointer;
  }

  .subMenus {
    margin-top: 7%;
}
label.adminClient {
  border: solid 1px #0d6efd;
  margin-left: 20%;
  width: 20%;
  text-align: center;
  font-size: 17px;
  background: #0d6efd;
  color: white;
  height: 40px;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

label.adminClient:hover{
  background: linear-gradient(45deg, black, transparent);
  border: solid 1px black;
}

.name{
  color: white;
}


.btn-green{
margin-right: 40px;
background: #c2cf1d;
color: black;
border: none;
padding: 6px 10px;
margin-left: 7px;
width: 130px;
border-radius: 10px;
font-size: 20px;

}
.btn-green:hover{
background-color: #000000;
color: white;
}
td{
  border: 1px solid black;
}


//add author
.alignDrop{
  height: 100px;
  overflow: scroll;
  width: 90%;
  background: white;
}
.alignDrop li:hover{
background-color: #c0bbbb;
color: #000; 
cursor: pointer;
}
.alignDrop1{
width: 90%;
height: 100px;
overflow: scroll;
background:#0051bf;
border: solid 1px #0051bf;
color: white;
}
.alignDrop1 li:hover {
background-color: #f5f5f5;
color: #000; 
cursor: pointer;
}
.but
{
  width:100px;
  height:30px;
  border-radius: 10px;
  background-color: #0051bf;
  color: white;
  border-color: #0051bf;
  font-weight: bold;
}

.editDrop{
height: 150px;
overflow: scroll;
}
.editAuthor{
height: 150px;
overflow: scroll;
}
.editDrop li:hover{
  background-color: #0051bf;
  color: white; 
  cursor: pointer;
}
.editAuthor li:hover{
  background-color: #0051bf;
  color: white; 
  cursor: pointer;
}

.check
{
  background-color: red;
  

}
.buttons
{
// margin-top: 85px;
float: inline-end;
position: relative;
margin-top: 29px;}
.same
{
  border: 1px solid #e5e5e5;
  width: 300px ;
  height: 50px;
background-color: #e5e5e5;
margin-top: 10px;
margin-bottom: -20px
}
.sameas
{
  margin-left: 60px;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
}
.disabled-btn {
  pointer-events: none; 
  opacity: 0.5; 
}
.scrollClass {
  overflow-x: scroll;
}
.art{
  width: 70%;
  height: 40px;
  background: peachpuff;
}
.art:focus{
  border: 1px solid black;
}
.art::placeholder{
  color: black;
}
.dropdown-list {
  overflow: scroll;
  margin-right: 80%;
  max-width: 878px;
  width: 50%;
  margin-left: 235px;
  font-size: 16px;
  max-height: 180px;
  
}

.dropdown-list li:nth-child(even) {
  background-color: #d6d7e0;
}

.dropdown-list-zindex {
  z-index: 100;
}

.state-btn{
  color: white;
  float: right;
  margin-right: 30px;
  border-radius: 12px;
  background: #0051bf;
  border: unset;
  height: 30px;
  width: 10%;
}

.state-btn:hover{
  background: #dbdf08;
	color: #000;
}

.bouncing-text {
  display: inline-block;
  position: relative;
  animation: moveText 3s infinite alternate ease-in-out;
}

@keyframes moveText {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(100px); } /* move right */
  100% { transform: translateX(0); }     /* move back left */
}
