

/* .content-wrapper.bluebar_collapse .head-video-cover {
  margin-right: -56%;
} */
.opensideBar {
  padding-left: 250px;
  margin-left: 0px;
  }

 td {
  padding: 0 20px;
 }

 .block-btn-blue-container a:hover {
  background: #d8dd0b;
  color: #000 !important;
}
.block-btn-blue-container a {
  color: #fff !important;
}
/* .products {
  display: ruby-text;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  border-radius: 0;
} */
.expert_profile a {
  display: block;
  height: 110px;
  width: 90px;
  background-size: contain;
  text-align: center;
  font-size: 13px;
  padding: 35px 0;
  color: #fff;
}
.hover-message {
  position: fixed;
  bottom: 120px;
  transform: translateX(-50%);
  background-color: rgba(78, 78, 77, 0);
  color: rgb(255, 254, 254);
  font-weight: bold;
  padding: 10px;
}
