<head>
  <link href="https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css" rel="stylesheet">
  <link href="https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css" rel="stylesheet">
  <link href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet">
  <link href="https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-straight/css/uicons-thin-straight.css" rel="stylesheet">
  <link href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css" rel="stylesheet">
</head>

<div class="content-wrapper" [ngClass]="{'opensideBar': isMenuOpen}" style="background: var(--background-blue);background-size: cover;background-attachment: fixed;min-height: calc(100vh - 80px);overflow: hidden !important;">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="alert alert-dismissible alert-info">
        <p style="width: 30%;margin-bottom: -20px;">Welcome to Your Research Information Management System.</p>
        <button type="button" style="border: unset;" class="close" data-dismiss="alert"><i class="fa fa-remove"></i></button>
        Currently logged in as {{Name}}({{roleName}}) </div> -->
        <div class="alert alert-dismissible alert-info" style="padding: 4px;">
          <p style="width: 30%;margin-bottom: 5px;"></p>
          <button type="button" style="border: unset;" class="close" data-dismiss="alert"></button>
        </div>
    </div>
 <br><br><br>
  <div class="container container-90 home">
    <div class="row" style="margin-top: 15px;">
      <div class="col-lg-6">
          <h3 style="margin:0 0 20px 0;color: #fff;" *ngIf="!enableHex">My Research Outputs</h3>
          <h3 style="margin:0 0 20px 0;color: #fff;" *ngIf="enableHex">Research Output Repository</h3>
          <div *ngFor="let item of filteredItems">
              <a routerLink="/Publications/Dashboard" class="glass-box ror_card" *ngIf="item.moduleName=='Publications'&&item.enableModule=='True'" style="cursor: pointer;">                     
                  <p>{{item.moduleName}}</p>
                  <p *ngIf="item.totalCount==0" class="text-green text-size-lg text-bold" style="font-size: 20px;">YTI</p>
                  <p *ngIf="item.totalCount!=0" class="text-green text-size-lg text-bold">{{pubCount}}</p>
                  <table>
                      <tr>
                          <td >{{item.lineItem1Text}}</td>
                          <td>{{item.lineItem1Count}}</td>
                      </tr>
                      <tr>
                          <td >{{item.lineItem2Text}}</td>
                          <td>{{item.lineItem2Count}}</td>
                      </tr>
                  </table>
                  <!-- <p class="badge">24</p> -->
                      
              </a>

              <a routerLink="/Patent" class="glass-box ror_card"  *ngIf="item.moduleName=='Patents'&&item.enableModule=='True'">
                <p>{{item.moduleName}}</p>
                <p *ngIf="item.totalCount==0"  class="text-green text-size-lg text-bold" style="font-size: 20px;">YTI</p>
                <p *ngIf="item.totalCount!=0" class="text-green text-size-lg text-bold">{{patCount}}</p>
                <table>
                    <tr>
                        <td >{{item.lineItem1Text}}</td>
                        <td>{{item.lineItem1Count}}</td>
                    </tr>
                    <tr>
                        <td >{{item.lineItem2Text}}</td>
                        <td>{{item.lineItem2Count}}</td>
                    </tr>
                </table>
                  <!-- <p class="badge">09</p> -->
              </a>

              <a  class="glass-box ror_card" *ngIf="item.moduleName=='Projects'&&item.enableModule=='True'" style="pointer-events: none;">
                <p>{{item.moduleName}}</p>
                <p *ngIf="item.totalCount==0" class="text-green text-size-lg text-bold" style="font-size: 20px;">Yet To Record</p>
                <p *ngIf="item.totalCount!=0" class="text-green text-size-lg text-bold">{{projectCount}}</p>
                <table>
                    <tr>
                        <!-- <td >{{item.lineItem1Text}}</td>
                        <td>{{item.lineItem1Count}}</td>
                    </tr>
                    <tr>
                        <td >{{item.lineItem2Text}}</td>
                        <td>{{item.lineItem2Count}}</td> -->
                        <td>Module will be enabled soon!</td>
                    </tr>
                </table>
              </a>
              <a  class="glass-box ror_card" *ngIf="item.moduleName=='Consultancy'&&item.enableModule=='True'"style="pointer-events: none;">
                <p>{{item.moduleName}}</p>
                <p *ngIf="item.totalCount==0" class="text-green text-size-lg text-bold" style="font-size: 20px;">YTI</p>
                <p *ngIf="item.totalCount!=0" class="text-green text-size-lg text-bold">{{constCount}}</p>
                <table>
                    <tr>
                        <td >{{item.lineItem1Text}}</td>
                        <td>{{item.lineItem1Count}}</td>
                    </tr>
                    <tr>
                        <td >{{item.lineItem2Text}}</td>
                        <td>{{item.lineItem2Count}}</td>
                    </tr>
                </table>
                  <!-- <p class="badge">09</p> -->
              </a>
             
            </div>
              <a (click)="toDetail()" style="cursor: pointer;" class="btn-black-glass">View more...</a>
      </div>
          <div class="col-lg-3">
          <h3 style="margin:0 0 20px 0;color: #fff;">Expert Profiles</h3>
              <div class="glass-box expert_profile" style="height: 318px;padding-top: 45px;" >  
                <ng-container *ngIf="roleId==2||roleId==3">
                  <a (click)="toMyprofile()" style="cursor: pointer;">
                    <span style="font-size: 17px;font-weight: 900;letter-spacing: 2px;">My Profile</span>
                  </a>
                </ng-container>  
                      <ng-container *ngFor="let exp of filteredItems" >
                        <a routerLink="/facultyProfiles" (click)="toFaculty()" *ngIf="exp.moduleName=='Faculty'&&exp.totalCount!=0&&exp.enableModule=='True'" style="cursor: pointer;">
                          <span *ngIf="exp.totalCount==0" style="font-size: 20px;">YTI</span>
                          <span *ngIf="exp.totalCount!=0">{{facCount}}</span>
                          <div style="font-size: 10px;" *ngIf="univId == '4395'">Center Head & Faculty</div>
                          <div *ngIf="univId != '4395'">{{exp.moduleName}}</div>
                        </a>
                      </ng-container>
                      <ng-container *ngIf="enableHex">
                      <ng-container *ngFor="let exp of filteredItems">
                        <a routerLink="/scholar" *ngIf="exp.moduleName=='Scholar'&&exp.totalCount!=0&&exp.enableModule=='True'">
                          <span *ngIf="exp.totalCount==0" style="font-size: 20px;">YTI</span>
                          <span *ngIf="exp.totalCount!=0">{{scholarCount}}</span>{{exp.moduleName}}
                        </a>
                      </ng-container>
                    </ng-container>
                      <ng-container *ngIf="enableHex">
                      <ng-container *ngFor="let exp of filteredItems">
                        <a routerLink="/Staff" *ngIf="exp.moduleName=='Staff'&&exp.totalCount!=0&&exp.enableModule=='True'">
                          <span *ngIf="exp.totalCount==0" style="font-size: 20px;">YTI</span>
                          <span *ngIf="exp.totalCount!=0">{{startupCount}}</span>{{exp.moduleName}}
                        </a>
                      </ng-container>
                    </ng-container>
                      <ng-container *ngIf="enableHex">
                      <ng-container *ngFor="let exp of filteredItems">
                        <a routerLink="/Student" *ngIf="exp.moduleName=='Student'&&exp.totalCount!=0&&exp.enableModule=='True'">
                          <span *ngIf="exp.totalCount==0" style="font-size: 20px;">YTI</span>
                          <span *ngIf="exp.totalCount!=0">{{studentCount}}</span>{{exp.moduleName}}
                        </a>
                      </ng-container>
                    </ng-container>
              </div>  
      </div>
              <div class="col-lg-3">
              <h3 style="margin:0 0 20px 0;color: #fff;">Research Trends</h3>
                   <div class="glass-box trends" >
                      <table style="color: #fff;">
                         
                           <tr *ngFor="let data of area">
                              <td>#{{data.researchArea}}</td>
                               <td style="align-items: end;">{{data.pubCount}}</td>
                          </tr>                        
                       </table>
                  </div>  
                  <!-- <a  class="btn-black-glass" style="margin-top: 20px;">View more...</a> -->
          </div>
        </div>
        <br>

        
    <!-- <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
                <div class="col-lg-12">
              <h3 style="margin:0 0 20px 0;color: #fff;">Researgence<sup>+</sup> Subscriptions</h3>
                   <div class="products" style="color: #fff;justify-content: space-evenly;">
                    <a style="cursor: pointer;" *ngFor="let item of newsub" (click)="toScorebook(item.subscriptionModule)" 
                    (mouseover)="onHover(item)" (mouseleave)="onLeave()" [ngStyle]="getStyle(item)">
                   {{ shouldDisplayNewData(item) ? newData : item.subscriptionModule }} </a>
                   </div>
                   <div  [ngStyle] = "{'margin-left' : !isMenuOpen ? '650px' : '600px'}" *ngIf="hoverMessage" class="hover-message">{{ hoverMessage }}</div>
                </div>     
        </div>
    </div> -->
    <div class="container-fluid" style="margin-bottom: 15px;">
        <div class="row">
              <div class="col-lg-12" style="background: rgba(0,0,0,0.3);margin-top: 40px;">
              <p class="text-center" style="margin-top: 10px; margin-bottom: 0;color: #fff;">Useful Information</p>
                  <div class="footer_link"><a class="btn-link" (click)="toInfo('PrivacyPolicy')">Privacy Policy</a><a class="btn-link" (click)="toInfo('DataCoverage')">Data Coverage</a>
                    <a class="btn-link" (click)="toInfo('FrequencyUpdates')">Frequency of Updates</a><a class="btn-link">User Statistics</a></div>
          </div>
        </div>
    </div>
</div>
