

.dropdown-list {
    overflow: scroll;
    width: 300px;
    font-size: 16px;
    max-height: 150px;
    margin-left: 81px;
  }
  .forms-control:focus{
    border-color: 1px solid black;
    outline: 0;
    box-shadow: none;
  }
  .content-wrapper{
    background: var(--background-white) repeat top center;
  }
  
  .container-fluid {
    transition: padding-left 0.3s ease, transform 0.3s ease;
  }
  .menu-opens {
    padding-left: 0%;
    transform: translateX(0.5);
    
  }
  
  .menu-closeds {
    padding-left: 260px;
    transform: translateX(0.5);
   
  }
  
    .forms-control:focus{
      border-color: 1px solid black;
      outline: 0;
      box-shadow: none;
    }
    .dropdown-list li:hover{
      background-color: #0051bf;
      color: white; 
      cursor: pointer;
    }
    .subMenus {
      margin-top: 50px;
  }
  label.adminClient {
    border: solid 1px #0d6efd;
    margin-left: 20%;
    width: 20%;
    text-align: center;
    font-size: 17px;
    background: #0d6efd;
    color: white;
    height: 40px;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
  }
  
  label.adminClient:hover{
    background: linear-gradient(45deg, black, transparent);
    
  }
  
  .name{
    color: white;
   
  }
  .btn-green{
  margin-right: 40px;
  background: #c2cf1d;
  color: #000000;
  border: none;
  padding: 6px 10px;
  margin-left: 7px;
  }
  .btn-green:hover{
  background-color: #000000;
  color: white;
  }
  
  
  
  
  // 
  .message {
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  .message.to {
    background-color: 
  #2095FE;
    color: 
  #fff;
    margin-left: 100px;
    text-align: right;
  }
  .message.from {
    background-color: 
  #E5E4E9;
    color: 
  #363636;
    margin-right: 100px;
  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
  }
  
  
  // status
  span.sorting_asc_status:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
    opacity: 0.5;
    
  }
  span.sorting_asc_status:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  
  }
  span.sorting_desc_status:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
  
    
  }
  span.sorting_desc_status:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  opacity: 0.5;
  }
  
  // remark
  span.sorting_asc_createdDate:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
    opacity: 0.5;
    
  }
  span.sorting_asc_createdDate:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  
  }
  span.sorting_desc_createdDate:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
  
    
  }
  span.sorting_desc_createdDate:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  opacity: 0.5;
  }
  
  //rfstYpe
  span.sorting_asc_rfsType:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
    opacity: 0.5;
    
  }
  span.sorting_asc_rfsType:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  
  }
  span.sorting_desc_rfsType:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
  
    
  }
  span.sorting_desc_rfsType:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  opacity: 0.5;
  }
  
  
  span.sorting_undefined_undefined:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  opacity: 0.5;
  }
  
  span.sorting_undefined_undefined:before {
  float: right;
  margin-left: 2px;
  margin-top: 9px;
  margin-bottom: -10px;
  content: "▼" / "";
  position: absolute;
  opacity: 0.5;
  }
  
  span.sorting_asc_undefined:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
    opacity: 0.5;
    
  }
  span.sorting_asc_undefined:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  opacity: 0.5;
  }
  span.sorting_desc_undefined:before {
    /* bottom: 50%; */
    float: right;
    margin-left: 2px;
    margin-top: 9px;
    margin-bottom: -10px;
    content: "▼" / "";
    position: absolute;
    opacity: 0.5;
    
  }
  span.sorting_desc_undefined:after {
  /* top: 50%; */
  float: right;
  content: "▲" / "";
  margin-left: 2px;
  margin-top: -3px;
  margin-bottom: 9px;
  position: absolute;
  opacity: 0.5;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.027); /* or your preferred color for odd rows */
  }
  
  .table-striped tbody tr:nth-child(even) {
    background-color: rgb(189, 182, 182); /* or your preferred color for even rows */
  }
  
  
  .gradient-box{
    background: rgb(23,96,172);
    background: linear-gradient(157deg, rgba(23,96,172,1) 0%, rgba(195,208,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1760ac",endColorstr="#c3d01c",GradientType=1);
    padding: 15px;
    margin-top: 10px;
  }
  .scrollClass {
    overflow-x: scroll;
  }
  
  .sticky-column-right {
    position: sticky;
    right: 0; /* Sticky to the right side */
    z-index: 0; /* Ensure it's above other elements */
    background-color: #f8f9fa; /* Optional: background color for sticky visibility */
  }
  