<div class="content-wrapper" [ngClass]="{'opensideBar': isMenuOpen}" style="background: var(--background-white);background-color: #e7eaef;background-attachment: fixed;">
    <div class="container-fluid" >
      <div class="row" style="margin-bottom: -23px;">
        <div class="alert alert-dismissible alert-info" >
          <button type="button" class="close" data-dismiss="alert" style="background: unset; top: -26%;" ><i class="fa fa-remove"></i></button>
          Currently logged in as {{Name}}({{roleName}}) </div>
      </div>
  
      <div class="row">
        <div class="video_bar bluebar_expand" [ngClass]="{'bluebar_expand': !isScrolled,'bluebar_collapse': isScrolled}" [ngStyle] = "{
          'position' : stickyEnable ? 'fixed' : 'relative'
        }" #blueheader style="width: -webkit-fill-available;">
             <div class="container container-90 ">
            <div class="row">
           <div class="col-lg-7 col-md-7 col-sm-7 text-white" [ngStyle] = "{'margin-top' : stickyEnable ? '' : '10px'}">
                   <h2>Welcome to Your Researgence Repository</h2>
                   <p style="margin-top: 0;">Learn more about ROR's coverage by watching this video.</p>
             <p><img src="https://researgence.ai/univ-assets/cssimage/help-icon.png" alt="help" width="30" style="margin-right: 15px;">For support, click <a class="link-green" >here</a> to contact our team.</p>
                 </div>
                 <div class="col-lg-5 col-md-5 col-sm-5"><a class="link-green help-btn"><img src="https://researgence.ai/univ-assets/cssimage/help-icon.png" alt="help" width="20" style="margin-right: 10px;">Support</a>
                  <!-- <a href="https://www.youtube.com/watch?v=3wzpI7orqxo" target="_blank" class="video_btn mediabox"><span>Watch Video</span><img src="https://researgence.ai/univ-assets/cssimage/srp_video_cover.jpg" alt="srp video" class="head-video-cover" /></a> -->
                </div>
         </div>
        </div>
         </div>
       </div>
    </div>
   
    <div class="container container-90" style="margin-top: 20px;">
      <div class="row">
        <div class="col-lg-12">
          <ul class="score_container">
                <li *ngFor="let val of testimonials">
                  <a target="_self" class="dash_card" (click)="openmodele(val.module)">
                  <img [src]="val.icon" alt=""/>
                  <p class="card_title">{{val.module}}</p>
                  </a>
                </li>
             </ul>
         </div>
      </div>
    </div>
  </div>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
