<div class="container-fluid">
  <div class="row" style="height: 26px;">
    <div class="col-md-5 footer-copyright">
      <p class="mb-0" style="font-size: 11px;">Copyright {{copyRightDate}} CIntelligence Private Limited</p>
    </div>
    <div class="col-md-5 footer-copyright">
      <p class="mb-0" style="font-size: 11px;">Powered by Researgence</p>
    </div>
    <div class="col-md-2">
      <ul class="social_link">
        <!-- <li><a  class="fa fa-facebook-square text-white"></a></li>
        <li><a  class="fa fa-linkedin-square text-white"></a></li>
        <li><a  class="fa fa-twitter-square text-white"> </a></li>
        <li><a  class="fa fa-youtube-play text-white"></a></li> -->
      </ul>
    </div>
  </div>
</div>
<style>
  .social_link {
    float: right;
    width: 120px;
    margin-top: unset;
  
 
}
dl, ol, ul {
    margin-top: 0;
     margin-bottom: unset;
}
</style>