

////new css changes

.bg-blur{
  position: absolute;
  overflow: hidden;
  background: #000;
  /* top: 0; */
  /* z-index: -10; */
  left: 0;
  right: 0;
  }

  .roles li .hexagon:hover>img.icon_hover {
    display: block;
    margin: 0 auto;
}

  .bg-blur img{
    display: block;
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 150%;
    opacity: 0.7;
    /* Center and scale the image nicely */
      margin: 0 auto;
      scale: 1;
  }
  .navbar-brand {
    float: right;
    padding: 20px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 60px;
    margin-top: -70px;
}
.navbar-brand>img {
    position: relative;
	max-width: 15px;
	width: 100%;
 
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  /* Set body background */
  background-size: cover; /* Cover the entire viewport */
}





.page-wrapper .page-body-wrapper .page-sidebar.open ~ footer {
  margin-left: 0;
  padding-right: 15px;
  display: none;
}
.page-main-header .main-header-right {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  padding: 0 40px;
  margin: 0;
}

.page-wrapper .page-main-header.open {
  margin-left: 0;
  width: 100%;
  transition: 0.3s;
  display: none;
}
.page-wrapper .page-body-wrapper .page-body {
  min-height: calc(100vh - 0px);
  margin-top: 0px;
  padding: 0 0px;
  position: relative;
  background-color: #f6f7fb;
}
.parent-container {
  position: absolute;
  z-index: 10;
  top: 10%;
  width: 50%;
  color: #fff;
  
}

.testim .cont div .img img {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
 border-radius: 50%;
}
.modal-content {
  /* Add your modal styling here */
  background-color: white; /* Set background color for better contrast */
  color: black; /* Set default text color */
}
.modal-body p {
  margin-bottom: 0; /* Remove default bottom margin for better spacing */
}
.collapse {
  display: block;
}
#slideOut {
  position: fixed;
  z-index: 999;
  width: 300px;
  height: 480px;
  bottom: -440px;
  right: 0px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
/* Display slideOut */
.showSlideOut {
bottom: 0px !important;
}
#slideOut .modal-content {
height: 480px;
}
#slideOut .modal-body {
  position: relative;
  padding: 20px;
  height: 480px;
  overflow-y: auto;
  padding-bottom: 50px;
}

// #slideOut {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: #fff;
//   box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); /* Add shadow at the top */
//   transition: transform 0.3s ease;
//   transform: translateY(100%); /* Initially hidden */
// }

// #slideOut.showSlideOut {
//   transform: translateY(0); /* Move upwards to show */
// }

.navbar-brand img.icon-over{
    display: none;
}
.navbar-brand:hover > img.icon{
    display: none;
}
.navbar-brand:hover > img.icon-over{
    display: block;
}
.navbar-brand:hover > img.icon{
  display: none;
}
.navbar-brand:hover >div p.icon-over{
  display: block !important;
}


.researgencelogo{
  position: absolute;
  top: -50px;
  right: -97%;
}

.researgencelogo img{
  max-width: 240px;
}

.icon-over{
  position: fixed;
}