.menu-closeds {
    
    padding-left: 263px;
    transform: translateX(0.5);

  }

  a{
    cursor: pointer !important;
  }
.content-wrapper{
     font-family: 'Red Hat Display', sans-serif;
  
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
  /* letter-spacing: 0.4px; */
  line-height: 1.3em;
}
textarea::after{

    border: 1px solid black;

}