.menu-open {
    padding-left: 0%;
  }
  
  .menu-closeds {
    padding-left: 267px;
  }
  #chartinddiv {
    width: 100%;
    height: 500px;
  }

  select{
    width: 100px;
  }

  .body1 {
    border: 1px #999;
    box-shadow: 0 3px 7px rgb(0 0 0/50%);
    border-color: #c2bfbf;
    width: 100%;
    //margin-left: 9%;
    //margin-left: 193px;
    max-height: auto;
    min-height: 200px;
    overflow: hidden;
    -webkit-hyphens: auto;
    margin-top: 10px;
  }
  
  .body1.border-box {
    box-sizing: border-box;
  }

  .filter
  {
    margin-top: 0px;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    float: right;
    position: static;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  img:hover{
    color: #303033;
  }
  .dropdown-content1 {
    display: none;
    background-color: #f9f9f9;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content1 a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown1:hover .dropdown-content1 {
    display: block;
  }
  .charthead{
    padding: 15px;
    color: rgb(1,43,103);
  }
  .am5exporting-icon.am5exporting-valign-top{
    top: -24px;
}
.body{
  border: 1px #999;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
  border-color: #c2bfbf;
  width: 100%;
  max-height: auto;
  min-height: 200px;
  overflow: hidden;
  -webkit-hyphens: auto;
  margin-top: 10px;
}
//yearpicker
::ng-deep .bs-datepicker-body {
  background-color: #f0f0f0;
  width: 200px;
  height: 115px;
  padding: 10px;
}
 
::ng-deep .bs-datepicker-body :hover {
cursor: pointer;
}
 
::ng-deep td.ng-star-inserted {
  
padding-left: 10px;
}
::ng-deep bs-datepicker-navigation-view {
  padding-left: 27px;
}
 
::ng-deep span {
  font-size:15px;
}

::ng-deep ul.amcharts-amexport-menu.amcharts-amexport-menu-level-0.amcharts-amexport-menu-root.amcharts-amexport-right.amcharts-amexport-top {
  margin-top: -20px;
  margin-right: -20px;
}

.alert-info {
  background-color: #ececec;
  border-color: transparent;
  color: #000000;
  text-align: right;
  font-size: 12px;
}
.alert {
  padding: 5px;
  margin-bottom: -19px;
  border: none;
  border-radius: 0px;
  padding-right: 30px;
}
::ng-deep div{
  overflow: unset !important;
}

@media (min-width: 768px) {
  .sticky{
    width: 83% !important;
    top: 50px !important;
    left: 8.5%;
  }
}

@media (min-width: 992px){
  .sticky{
    width: 83% !important;
    top: 50px !important;
    left: 8.5%;
  }
  }
/* For screens larger than 1024px */
@media (min-width: 1024px) {
  .sticky{
    width: 83% !important;
    top: 50px !important;
    left: 8.5%;
  }
}


.profile-sticky-nav{
  background: unset !important; 
  box-shadow: unset !important;
}

@media (min-width: 768px){
.enableFreeze{
  width: 71% !important;
  left: 24% !important;
}
}

@media (min-width: 992px){
  .enableFreeze{
    width: 71% !important;
    left: 24% !important;
  }
}

  @media (min-width: 1024px){
    .enableFreeze{
      width: 71% !important;
      left: 24% !important;
    }
    }