<style>
  .Sidemenu-open {
    padding-left: 0px;
  }

  .menu-closed {
    padding-left: 250px;
  }
</style>
<div class="content-wrapper" [ngClass]="{'Sidemenu-open': !isMenuOpen, 'menu-closed': isMenuOpen}"style="background: url(hexa-bg.jpg);background-size: cover;background-attachment: fixed;  font-family: 'Red Hat Display', sans-serif;">
  <div class="container-fluid">
    <div class="row" style="margin-bottom: -23px;">
      <div class="alert alert-dismissible alert-info" >
        <button type="button" class="close" data-dismiss="alert" style="background: unset; top: -26%;" ><i class="fa fa-remove"></i></button>
        Currently logged in as {{Name}}({{roleName}})
      </div>
    </div>
    <div class="row">
      <div class="video_bar bluebar_expand" [ngClass]="{'bluebar_expand': !isScrolled,'bluebar_collapse': isScrolled}"
      [ngStyle]="{
      'position' : stickyEnable ? 'fixed' : 'relative','padding-right':stickyEnable ? '150px':'unset'
    }" #blueheader style="padding-left: 50px;">
           <div class="container container-90 ">
          <div class="row">
         <div class="col-lg-7 col-md-7 col-sm-7 text-white" [ngStyle] = "{'margin-top' : stickyEnable ? '' : '20px'}" style="padding-left: 0px;margin-left: -20px;">
                 <h2>Welcome to Your Researgence Repository</h2>
                 <p style="margin-top: 0;">Learn more about ROR's coverage by watching this video.</p>
           <p><img src="https://researgence.ai/univ-assets/cssimage/help-icon.png" alt="help" width="30" style="margin-right: 15px;">For support, click <a class="link-green" >here</a> to contact our team.</p>
               </div>
               <div class="col-lg-5 col-md-5 col-sm-5"><a class="link-green help-btn"><img src="https://researgence.ai/univ-assets/cssimage/help-icon.png" alt="help" width="20" style="margin-right: 10px;">Support</a>
                <!-- <a href="https://www.youtube.com/watch?v=3wzpI7orqxo" target="_blank" class="video_btn mediabox"><span>Watch Video</span><img src="https://researgence.ai/univ-assets/cssimage/srp_video_cover.jpg" alt="srp video" class="head-video-cover" /></a> -->
              </div>
       </div>
      </div>
       </div>
     </div>
  </div>

  <div class="container container-90">
    <div class="content-pushed" [ngStyle] = "{'padding-top' : stickyEnable ? '150px' : '30px'}">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-page-header gradient-box">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="page_title" style="font-size: 24px;">Service Requests</h3>
              </div>
              <div class="col-lg-6">
                <input type="button" class="btn-outline float-right ml-20" data-toggle="modal"
                  data-target="#add_new" (click)="advance()" value="Advance Search">
                <input type="button" *ngIf="showButton" class="btn-outline float-right ml-20" data-toggle="modal"
                  data-target="#add_new" (click)="newRequest()" value="New Request">
                <input type="button" *ngIf="showButton" class="btn-outline float-right ml-20" data-toggle="modal"
                  data-target="#add_new" (click)="processAndExportToExcel()" value="Download Excel">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="publication_list row">
            <div class="col-lg-12">
              <div class="filter">

                <div class="sort"> <span class="custom-dropdown">
                    <label class="control-label heading_sm">Type</label>
                    <select style="width: 100px" [(ngModel)]="filterType" (ngModelChange)="changeType(filterType)">
                      <option disabled selected value="undefined">Select Type</option>
                      <option value="">All Type</option>
                      <option *ngFor="let item of uniqType" [value]="item.serviceTypeId">{{item.serviceTypeName}}
                      </option>
                    </select>
                  </span> </div>
                <div class="sort"> <span class="custom-dropdown">
                    <label class="control-label heading_sm">Category</label>
                    <select style="width: 100px" [(ngModel)]="filterCategory">
                      <option disabled selected value="undefined">Select Category</option>
                      <option value="">All Category</option>
                      <option *ngFor="let item of categoryList" [value]="item.categoryName">{{item.categoryName}}
                      </option>
                    </select>
                  </span> </div>
                <div class="sort"> <span class="custom-dropdown">
                    <label class="control-label heading_sm">Priority</label>
                    <select style="width: 100px" [(ngModel)]="filterPriority">
                      <option disabled selected value="undefined">Select Priority</option>
                      <option value="">All Priority</option>
                      <option *ngFor="let item of priorityList" [value]="item.value">{{item.value}}</option>
                    </select>
                  </span> </div>
                <div class="sort"> <span class="custom-dropdown">
                    <label class="control-label heading_sm">Status</label>
                    <select style="width: 100px" [(ngModel)]="filterstatus">
                      <option disabled selected value="undefined">Select status</option>
                      <option value="">All Status</option>
                      <option *ngFor="let item of statusList" [value]="item.value">{{item.value}}</option>
                    </select>
                  </span> </div>
                  <div class="sort" *ngIf="userName=='11'" > <span class="custom-dropdown">
                    <label class="control-label heading_sm">{{showUnivName}}</label>
                  </span> </div>
                <input type="button" class="btn-solid-blue float-left" data-toggle="modal" data-target="#add_new"
                  (click)="filter()" value="Filter">
              </div>
            </div>


            <div class="result col-lg-12" *ngIf="!newrequesting">
              <div class="content-wrapper-white"
              style="overflow: auto;margin-top: 20px;margin-bottom: 20px;padding: 15px;background: #fff;border: 1px solid #e5e5e5;position: relative;transition: 0.3s;">
                <table id="example" class="table table-bordered" style="width:100%">
                  <thead style="background: #0151be;color: #fff;">
                    <tr>
                      <th scope="col" class="name">S.NO</th>
                      <th style="width: 15%;" scope="col" class="name">UNIVERSITY</th>
                      <th style="width: 15%" scope="col" class="name">REQUESTED BY</th>
                      <th style="width: 20%" scope="col" class="name">QUERY</th>
                      <th scope="col" class="name">PRIORITY</th>
                      <th scope="col" class="name">STATUS</th>
                      <th style="width: 20%" scope="col" class="name">CREATED ON</th>
                      <th scope="col" class="name">TYPE</th>
                      <th style="width: 20%" scope="col" class="name">CATEGORY </th>
                      <th scope="col" class="name">ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of data ,let i=index">
                      <td class="td">{{i+1}}</td>
                      <td class="td">{{d.universityName}}</td>
                      <td class="td">{{d.resolvedBy}}</td>
                      <td class="td">{{d.requestDescription}}</td>
                      <td class="td">{{d.priority}}</td>
                      <td class="td">{{d.status}}</td>
                      <td class="td">{{d.createdOn}}</td>
                      <td class="td">{{d.serviceType}}</td>
                      <td class="td">{{d.category}}</td>
                      <td class="td" *ngIf="d.status!='Resolved'"><button type="button" class="btn btn-primary"
                          (click)="evaluate(d.universityId,d.serviceRequestId)">EVALUATION</button></td>
                      <td class="td" *ngIf="d.status=='Resolved'"><button type="button" class="btn btn-primary"
                          style="border-color:#D3D3D3 !important;background-color: #D3D3D3 !important;color:rgb(102, 99, 99) !important;">EVALUATION</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="gradient-box" *ngIf="newrequesting">
              <div class="bg-white">
                <div class="row">
                  <form class="form">
                    <div>
                      <h2 style="text-align: center;font-size: x-large;font-style: italic;">NEW REQUEST </h2>
                    </div>
                    <div class="col-lg-12">

                      <table class="form-table">
                        <tbody>

                          <tr>
                            <th colspan="4" class="label-column"></th>
                          </tr>
                          <tr>
                            <td colspan="1" class="label-column"><label>SOURCE <span
                                  style="color: red;">*</span></label></td>
                            <td colspan="2">
                              <select class="custom-select line-select" name="sourceId" [(ngModel)]="sourceId">
                                <option class="size" disabled selected value="undefined">Select Source</option>
                                <option class="size" *ngFor="let item of souceList" [value]="item.id">{{item.value}}
                                </option>
                              </select>
                              <div *ngIf="!sourceId && submitdata " style="color: red;">Please select Source....!</div>
                            </td>
                            <td colspan="1" class="label-column"><label>ONBEHALF <span
                                  style="color: red;">*</span></label></td>
                            <td colspan="2">
                              <input class="form-text" name="author" [(ngModel)]="author"
                                (keyup)="authorSearch(author)">
                              <div *ngIf="!author && submitdata " style="color: red;">Onbehalf required...!</div>
                              <ul class="alignDrop1" *ngIf="ipDropdown">
                                <li *ngFor="let n of authorList" (click)="onSelectAuthor(n.userId,n.authorName)">
                                  {{ n.authorName }}
                                </li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="1" class="label-column"><label>TYPE</label></td>
                            <td colspan="1">
                              <select class="custom-select line-select" name="serviceTypeId" [(ngModel)]="serviceTypeId"
                                (ngModelChange)="changeType(serviceTypeId)">
                                <option class="size" disabled selected value="undefined">Select Type</option>
                                <option class="size" *ngFor="let item of uniqType" [value]="item.serviceTypeId">
                                  {{item.serviceTypeName}}</option>
                              </select>
                            </td>
                            <td colspan="1" class="label-column"><label>CATEGORY</label></td>
                            <td colspan="1">
                              <select class="custom-select line-select" name="categoryId" [(ngModel)]="categoryId">
                                <option class="size" disabled selected value="undefined">Select Category</option>
                                <option class="size" *ngFor="let item of categoryList" [value]="item.categoryId">
                                  {{item.categoryName}}</option>
                              </select>
                            </td>
                            <td colspan="1" class="label-column"><label>PRIORITY</label></td>
                            <td colspan="1">
                              <select class="custom-select line-select" style="width: 100%;" name="priorityId"
                                [(ngModel)]="priorityId">
                                <option class="size" disabled selected value="undefined">Select Priority</option>
                                <option class="size" *ngFor="let item of priorityList" [value]="item.id">{{item.value}}
                                </option>
                              </select>
                            </td>
                          </tr>

                          <tr>
                            <td colspan="1" class="label-column"><label>REQUEST</label></td>
                            <td colspan="5">
                              <input class="form-text" style="width:100%" name="request" [(ngModel)]="request">
                            </td>
                          </tr>
                          <tr>
                            <div>
                              <h2 style="font-size: 20PX;font-weight: bold;">CONTACT DETAILS </h2>
                            </div>
                          </tr>
                          <tr>
                            <td colspan="1" class="label-column"><label>MOBILE <span
                                  style="color: red;">*</span></label></td>
                            <td colspan="2">
                              <input style="width:100%;" class="form-text" name="mobileNo" [(ngModel)]="mobileNo"
                                maxlength="10">
                              <div *ngIf="!mobileNo && submitdata " style="color: red;">Moblie Number required....!
                              </div>

                            </td>
                            <td colspan="1" class="label-column"><label>EMAIL <span style="color: red;">*</span></label>
                            </td>
                            <td colspan="2"><input style="width:100%;" class="form-text" name="email"
                                [(ngModel)]="email">
                              <div *ngIf="!email && submitdata " style="color: red;">Email required....!</div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="3" style="">
                              <button style="margin-top: 1%; margin-top: 20px;display: inline;margin-left: 10px;"
                                class="btn-green center-block" (click)="onSubmit()">SUBMIT</button>
                              <button style="margin-top: 1%;margin-top: 10px;display: inline;margin-left: 10px"
                                class="btn-green center-block" (click)="refresh()">RESET</button>
                              <button style="margin-top: 1%;margin-top: 10px;display: inline;margin-left: 10px"
                                class="btn-green center-block" (click)="newRequest1()">CANCEL</button>
                            </td>
                           <br>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                 </div>
               </div>
             </div>
           </div>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">