
.sync {
    padding-left: 70px;
  }
  .label-column {
  width: 200px;
  padding: 15px 0px 15px 10px;
  }
  h4{
  font-family: 'gothammedium';
  font-size: 18px;
  }
  .test{
    font-size: 18px;
    margin-top: -29px;
  }
  .form-text {
  border: none;
  border-bottom: #ccc 2px solid;
  width: 300px;
  padding: 5px;
  }
  .line-select {
  background: none;
  border: none;
  border-bottom: #ccc 2px solid;
  width: 300px;
  color: #000000;
  }
  
  .select-selected{
  position: absolute;
    background-color: #005bb3;
    color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .btn-green:hover {
  background: #000000;
  color: #ffffff;
  }
  .tabs
  {
  border:1px solid black;
  font-size: 10px;
  margin-left: 8px;
  width: 65px;
  height: 18px;
  text-align: center;
  }
  
  .check
  {
  display: inline-block;
  width: 315px;
  border: 1px solid black;
  height: 150px;
  }
  
  .checks
  {
  padding: 10px;
  font-weight: bold;
  }
  button.test {
    /* padding-left: 38%; */
    margin-left: 97%;
    width: 60%;
  }
  .alignDrop{
    height: 100px;
    overflow: scroll;
    width: 90%;
    background: white;
  }
  .alignDrop li:hover{
  background-color: #c0bbbb;
  color: #000; 
  cursor: pointer;
  }
  .alignDrop1{
    width: 90%;
    height: 100px;
    overflow: scroll;
    background:#0051bf;
    border: solid 1px #0051bf;
    color: white;
    }
    .alignDrop1 li:hover {
    background-color: #f5f5f5;
    color: #000; 
    cursor: pointer;
    }