body.article_page{
	background: url(https://researgence.ai/univ-assets/cssimage/article_header_bg.jpg) repeat top center;
}
.page-title {
    width: 100%;
    padding: 10px 0;
    margin: 30px auto;
    height: 80px;
}
.page-title h2{
	    font-family: 'gothambook';
    font-size: 30px;
    color: #fff;
	display: block;
	float: left;
	text-align: left;
	margin: 0;
}
.text-blue{
	color: #0050bc;
}
.text-size-md{
	font-size: 1.4em;
}
.margin-b10{
	margin-bottom: 10px !important;
}
.article.first_info{
	padding: 30px 0;
}
.pdf-download-btn{
	margin-left: 40px;
}
.gray-box{
	background: #efefef;
	padding: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.date-table{
	font-size: 16px;
	width: 100%;
}
.date-table td{
	padding: 10px;
}
.tech_area h4{
	width: 100%;
	margin-top: 15px;
}
.tech_area{
	display: flex;
	flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.tech_area p{
	display: block;
	font-size: 14px;
	border: 1px #B8B8B8 solid;
	padding: 8px;
	float: left;
	
	margin: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	
}
.article_data{
	    margin-left: 50px;
    margin-bottom: 20px;
}
.article_content{
	padding-bottom: 20px;
}
.link_bar{
	padding: 20px 0;
	border-bottom: 3px solid #DBDBDB;
	border-top: 3px solid #DBDBDB;
}
.link_bar a{
	font-size: 16px;
	color: #145fc4;
	font-weight: bold;
}
.link_bar a:after{
	content:">";
	margin-left: 5px;
}
.link_bar a:hover{
	color: #000000;
}
.author{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.author img{
	display: block;
	border-radius: 50%;
	width: 45px;
	height: 45px;
	float: left;
	margin-right: 20px;
}
.author-block h4{
	margin-top: 35px;
	margin-bottom: 30px;
}
.author h4{
	margin-top: 0px;
	margin-bottom: 10px;
}
.rank_bar{
	background: #5f5f5f;
	padding: 10px 30px;
}
.rank_bar{
	width: 100%;
	height: 50px;
}
.rank_bar p{
	display: block;
	background: #d6db08;
	color: #000000;
	
	margin: 0;
margin-right: 10px;
	padding: 6px 10px;
	float: left;
	font-size: 16px;
	
}
.rank_bar img{
	display: block;
	float: right;
}