

/* .content-wrapper.bluebar_collapse .head-video-cover {
  margin-right: -56%;
} */
.opensideBar {
  padding-left: 250px;
  margin-left: 0px;
  }

 td {
  padding: 0 20px;
 }

 .block-btn-blue-container a:hover {
  background: #d8dd0b;
  color: #000 !important;
}
.block-btn-blue-container a {
  color: #fff !important;
}
/* .products {
  display: ruby-text;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  border-radius: 0;
} */
.expert_profile a {
  display: block;
  height: 110px;
  width: 90px;
  background-size: contain;
  text-align: center;
  font-size: 13px;
  padding: 35px 0;
  color: #fff;
}
.hover-message {
  position: fixed;
  bottom: 120px;
  transform: translateX(-50%);
  background-color: rgba(78, 78, 77, 0);
  color: rgb(255, 254, 254);
  font-weight: bold;
  padding: 10px;
}

/* suscription */

.dashboard-container.disabled {
  /* pointer-events: none; */
  opacity: 1 !important;
}

.alert-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.alert-box {
  background: #fff;
  padding: 20px ;
  border-radius: 10px;
  text-align: center;
  width: 450px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.alert-box h3 { margin-bottom: 15px; }

.alert-box button {
  margin-top: 20px;
  padding: 8px 25px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.scrolling-banner {
  /* background-color: #fff3cd; */
  background-color: rgb(0 0 0 / 0%);
    color: rgb(57, 255, 20);
  /* color: #856404; */
  padding: 6px 0;
  font-weight: 500;
  font-size: 14px;
}

.star{
  color: rgb(68, 255, 0);
  top: 7px;
  font-size: 21px;
}