

.dropdown-list {
  overflow: scroll;
  margin-right: 80%;
  max-width: 880px;
  width: 30%;
  margin-left: 250px;
 font-size: 16px;
 max-height: 150px;
}
.forms-control:focus{
  border-color: 1px solid black;
  outline: 0;
  box-shadow: none;
}
.content-wrapper{
  background:var(--background-white) repeat top center;
}

  .forms-control:focus{
    border-color: 1px solid black;
    outline: 0;
    box-shadow: none;
  }
  .dropdown-list li:hover{
    background-color: #0051bf;
    color: white; 
    cursor: pointer;
  }
  .subMenus {
    margin-top: 7%;
}
label.adminClient {
  border: solid 1px #0d6efd;
  margin-left: 20%;
  width: 20%;
  text-align: center;
  font-size: 17px;
  background: #0d6efd;
  color: white;
  height: 40px;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

label.adminClient:hover{
  background: linear-gradient(45deg, black, transparent);
  border: solid 1px black;
}

.name{
  color: white;
  border-right: solid 1px black;
  text-align: center;
}

// .row{
//   padding-bottom: 4%;
// }
.btn-green{
margin-right: 40px;
background: #c2cf1d;
color: #000000;
border: none;
padding: 6px 10px;
margin-left: 7px;
}
.btn-green:hover{
background-color: #000000;
color: white;
}

// 
.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}
.message.to {
  background-color: 
#2095FE;
  color: 
#fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: 
#E5E4E9;
  color: 
#363636;
  margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}
.rounded-div {  
  margin-left: 74%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 21%
}

span.sorting:before {
  /* bottom: 50%; */
  float: right;
  margin-left: 2px;
  margin-top: 9px;
  margin-bottom: -10px;
  content: "▼" / "";
  position: absolute;
  
}
span.sorting:after {
/* top: 50%; */
float: right;
content: "▲" / "";
margin-left: 2px;
margin-top: -3px;
margin-bottom: 9px;
position: absolute;

}
.art
{
  width: 700px;
  height: 50px;
}
.comment
{
 // height: 100px;
  margin-left: 350px;
  padding-top:100px;
}


.td {
  border-right: 1px solid black;
}

//newrequest


.dropdown-list {
  overflow: scroll;
  margin-right: 80%;
  max-width: 880px;
  width: 30%;
  margin-left: 250px;
 font-size: 16px;
 max-height: 150px;
}
.forms-control:focus{
  border-color: 1px solid black;
  outline: 0;
  box-shadow: none;
}
.content-wrapper{
  background: var(--background-white) repeat top center;
}

// .menu-open {
//   padding-left: 5%;
// }

// .menu-closed {
//   padding-left: 12%;
// }

  .forms-control:focus{
    border-color: 1px solid black;
    outline: 0;
    box-shadow: none;
  }
  .dropdown-list li:hover{
    background-color: #0051bf;
    color: white; 
    cursor: pointer;
  }
  .subMenus {
    margin-top: 7%;
}
label.adminClient {
  border: solid 1px #0d6efd;
  margin-left: 20%;
  width: 20%;
  text-align: center;
  font-size: 17px;
  background: #0d6efd;
  color: white;
  height: 40px;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

label.adminClient:hover{
  background: linear-gradient(45deg, black, transparent);
  border: solid 1px black;
}



// .row{
//   padding-bottom: 4%;
// }
.btn-green{
margin-right: 40px;
background: #c2cf1d;
color: #000000;
border: none;
padding: 6px 10px;
margin-left: 7px;
}
.btn-green:hover{
background-color: #000000;
color: white;
}

.box{
  border-right: solid 1px black;
}

.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}
.message.to {
  background-color: 
#2095FE;
  color: 
#fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: 
#E5E4E9;
  color: 
#363636;
  margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}
.rounded-div {  
  margin-left: 74%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 21%
}

.select-selected{
  position: absolute;
    background-color: #005bb3;
    color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .line-select {
    background: none;
    border: none;
    border-bottom: #ccc 2px solid;
    width: 350px;
    color: #000000;
    }

    .alignDrop{
      height: 150px;
      overflow: scroll;
      width: 90%;
      background: white;
    }
    .alignDrop li:hover{
    background-color: #005bb3;
    color: white; 
    cursor: pointer;
    }




    //ad


.dropdown-list {
  overflow: scroll;
  margin-right: 80%;
  max-width: 880px;
  width: 30%;
  margin-left: 250px;
 font-size: 16px;
 max-height: 150px;
}
.forms-control:focus{
  border-color: 1px solid black;
  outline: 0;
  box-shadow: none;
}
.content-wrapper{
  background: var(--background-white) repeat top center;
}

// .menu-open {
//   padding-left: 5%;
// }

// .menu-closed {
//   padding-left: 12%;
// }

  .forms-control:focus{
    border-color: 1px solid black;
    outline: 0;
    box-shadow: none;
  }
  .dropdown-list li:hover{
    background-color: #0051bf;
    color: white; 
    cursor: pointer;
  }
  .subMenus {
    margin-top: 7%;
}
label.adminClient {
  border: solid 1px #0d6efd;
  margin-left: 20%;
  width: 20%;
  text-align: center;
  font-size: 17px;
  background: #0d6efd;
  color: white;
  height: 40px;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

label.adminClient:hover{
  background: linear-gradient(45deg, black, transparent);
  border: solid 1px black;
}



// .row{
//   padding-bottom: 4%;
// }
.btn-green{
margin-right: 40px;
background: #c2cf1d;
color: #000000;
border: none;
padding: 6px 10px;
margin-left: 7px;
}
.btn-green:hover{
background-color: #000000;
color: white;
}

.box{
  border-right: solid 1px black;
}

.message {
  border-radius: 50px;
  margin: 0 15px 20px;
  padding: 10px 20px;
  position: relative;
  font-size: 20px;
}
.message.to {
  background-color: 
#2095FE;
  color: 
#fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: 
#E5E4E9;
  color: 
#363636;
  margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}
.rounded-div {  
  margin-left: 74%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 21%
}

.select-selected{
  position: absolute;
    background-color: #005bb3;
    color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  .line-select {
    background: none;
    border: none;
    border-bottom: #ccc 2px solid;
    width: 350px;
    color: #000000;
    }

.alignDrop{
  height: 180px;
  overflow: scroll;
  width: 100%;
  background: white;
}
.alignDrop li:hover{
background-color: #0051bf;
color: white; 
cursor: pointer;
}
.alignDrop1{
width: 100%;
height: 200px;
overflow: scroll;
background:#0051bf;
border: solid 1px #0051bf;
color: white;
}
.alignDrop1 li:hover {
background-color: #f5f5f5;
color: #000; 
cursor: pointer;
}
th{
  color: white;
}


// ////////////////////////////////////////////

.form-group {
  position: relative;
  min-height: 3.5em;
}

input.form-control {
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
}

label.form-control-label {
  position: absolute;
  font-size: .7em !important;
  top: 0;
  left: 5px;
  text-transform: uppercase !important;
  color: #0051bf !important;
  padding-left: unset  !important;
  margin: unset !important;
}

.fa-history:before {
  color: white;
}

.form-card input[type="text"]:focus {
  padding: 12px;
  border: 2px solid #c5c5c5;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  color: #000;
}


::ng-deep ngb-modal-backdrop.modal-backdrop.fade.show {
  z-index: 500 !important;
}