.content {
  margin-top: 10px;
  padding-left: 20%;
}

input.form-control {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 22px;
  padding: 0 20px;
  height: 42px;
  line-height: 42px;
  clear: both;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 18px;
  background: rgba(0,0,0,0.2);
}
.btn {
  color: white;
  background-color: rgb(12, 79, 180);
  border-radius: 90px;
  font-weight: bold;
  padding-bottom: 6px;
  margin-left: 2px;
  position: absolute;
  margin-top: 10px;
  background-size: 0% 100%, 100% 100%;
  background-position: 100% 0%, 0% 0%;
  margin-top: 21px;
  padding-right: 30px;
  padding-left: -27px;
  text-align: center;
  font-size: 17px;
  font-family:"open_sansbold"
}
.btn:hover{
  background-color: rgb(218, 218, 32);
  color: #000;
}
::ng-deep .btn {
  cursor: pointer;
}

img.slideshow-image {
  overflow: hidden;
}
.img{
  overflow: hidden;
  

  filter: brightness(0.4);
  background-position:top center;
  background-size:cover;
  display: block;


}

.parent-container {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 9%;
  width: 50%;
  color: #fff;
}


.form-group1 {
  margin-top: -14px;
}
* a {
  color: #f0f1f5;
  text-decoration: none;
  font-size: 14px;
}
.logo{
  margin-top: -17%;
  margin-left: 140%;
 }


.slideshow-container {
  margin-top: -15px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  filter: brightness(0.4);
}
.s {
  margin-left: 50%;
  bottom: 0;
  z-index: 3;
  margin-top: 200px;
}
.btn1{
  padding-top: 2%;
  margin-left: 17%;
 
}
@media (min-width: 768px){
  .navbar-header {
      float: right;
  }
  }
  .navbar-brand {
      float: right;
      padding: 20px 15px;
      font-size: 18px;
      line-height: 20px;
      height: 60px;
  }

  .landing-content{
  position: absolute;
      z-index: 20;
      top: 20%;
  
      right: -133px;
      width: 600px;
      color: #fff;
      margin: 0 auto;
  }
  .landing-content p{
    margin-bottom: 10px;
  }
  html, body, .banner, #carousel-example-generic, .carousel-inner, .carousel-inner>.item, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
    height:100%;
  }
  .carousel-inner>.item{
    text-align:center
  }


  .carousel-inner{
    background:#000;
  }
  .item{
    opacity:0.4;
  }
  .welcome-text{
  font-size: 28px;
      color: #fff;
      margin: 20px 0;
      line-height: 40px;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      padding-bottom: 20px;
    font-family: "lexia";
  }
  .welcome-text span{
    font-size: 38px;
    display:block;
    line-height:52px;
  }
  .client-logo{
    height: 120px;
  }
  .client-logo img{
    height: 100%;
    width: auto;
  }

  footer{
    position: fixed;
      z-index: 10;
      bottom: 0;
      width: 100%;
      color: #fff;
      border-top: none;
  }
  .contact-form .section-field input {
     position: relative;
      width: 100%;
    margin: 0;
      margin-bottom: 20px;
      border-radius: 22px;
      padding: 0 20px;
      height: 42px;
      line-height: 42px;
      clear: both;
      color: #ffffff;
      border: 2px solid #ffffff;
      font-size: 18px;
      background: rgba(0,0,0,0.2);
  }
  
  .contact-form .section-field input::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
    text-align: left;
  }
  
  .contact-form .section-field input::-ms-input-placeholder { /* Edge 12-18 */
    color: #fff;
    text-align: left;
  }
  .contact-form .section-field input:focus {
     
      color: #000;
      border: 2px solid #ffffff;
      font-size: 18px;
      background: rgba(0,0,0,0.6);
  }
  .role-content{
     
      width: 600px;
      color: #fff;
      margin: 0 auto;
    margin-top: 80px;
  }
  .role-content .client-logo {
      height: 80px;
      display: flex;
      justify-content: center;flex-wrap: wrap;
  }
  .role-content .welcome-text {
      font-size: 30px;
  text-align: center;
    border: none;
    padding: 0;
  }
  .bg-blur{
  position: absolute;
      overflow: hidden;
      background: #000;
      top: 0;
      z-index: -10;
      left: 0;
      right: 0;
  }
  .bg-blur img{
    display: block;
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    opacity: 0.7;
    /* Center and scale the image nicely */
      margin: 0 auto;
      scale: 1;
  }
  .testim .carousel-indicators {
    bottom: inherit;
    left: inherit;
    width: 37px;
    right: 0;
    top: 39%;
    margin-top: -60px;
    margin-right: 15px;
}

 
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 0px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
   
}



.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}



.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}


@keyframes slideIn {
  from {
     
      transform: translateX(100%);
  }
  to {
      
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
      
      transform: translateX(0);
  }
  to {
      
      transform: translateX(-100%);
  }
}

.testim .cont div.active .img img {
  animation: slideIn .0s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
  animation: slideOut .0s ease-in-out forwards;
}

.disabled-text{
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
}