/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-quartz.css";


:root{
    --background-blue:url("https://researgence.ai/univ-assets/background-blue/hexa-blue-bg.jpg")
}
:root{
    --background-white:url("https://researgence.ai/univ-assets/background-blue/hexa-white-bg.jpg")
}
:root{
    --login-bg:url("https://researgence.ai/univ-assets/cssimage/login-bg.jpg")
}
:root{
    --blue-bar-bg:url("https://researgence.ai/univ-assets/cssimage/bluebar-bg.jpg")
}