<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- Enable only for dev -->
	<system.webServer>
        <location path="index.html">
            <system.webServer>
                <staticContent>
                <clientCache cacheControlMode="DisableCache" />
                </staticContent>
                <httpProtocol>
                <customHeaders>
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                    <add name="Pragma" value="no-cache" />
                    <add name="Expires" value="0" />
                </customHeaders>
                </httpProtocol>
            </system.webServer>
        </location>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" /> 
            
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        
        </staticContent>
		<rewrite>
			<rules>
				<rule name="angular" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
		<httpRedirect enabled="false" childOnly="false" />
        <caching>
            <profiles>
                <add extension=".js,.css,.scss,.jpg,.jpeg,.png" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="public, max-age=2592000" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>

  <!-- Enable for prod -->

<!-- <system.webServer>
    <rewrite>
      <rules>
                <clear />
                <rule name="ReversePVS" stopProcessing="true">
                    <match url="^pvs/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://researgence.ai:83/{R:1}" />
                </rule>
                <rule name="SetNoCacheForProdAndNode" stopProcessing="false">
                    <match url="^(prod/.*|temp/api/node/.*|pvs/.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="RESPONSE_Cache-Control" value="no-store, no-cache, must-revalidate" />
                        <set name="RESPONSE_Pragma" value="no-cache" />
                        <set name="RESPONSE_Expires" value="0" />
                    </serverVariables>
                </rule>
                <rule name="ReverseProxyNode" stopProcessing="true">
                    <match url="^temp/api/node/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://researgence.ai:9080/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="ReverseProxy" stopProcessing="true">
                    <match url="^prod/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="https://researgence.ai:81/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="angular" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
      </rules>
    </rewrite>

    <httpRedirect enabled="false" childOnly="false" />

    <caching>
      <profiles>
        <add extension=".js,.css,.scss,.png,.jpeg,.jpg" policy="CacheForTimePeriod" duration="01:00:00" />
      </profiles>
    </caching>
  </system.webServer> -->
</configuration>