<!doctype html>
<html lang="en" class="no-js">

<body>
<!-- <div class="brand clearfix bg-blue">
  <div class="container-800"><img src="img/jis-logo.png" alt="" width="auto" height="60" class="img-block">
    <p class="blue-subtitle text-white" style="margin: 20px auto; float: left">JIS Group</p>
  </div>
</div> -->
<div class="ts-main-content">
  <div class="container-800" style="margin-top: 100px;">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-page-header gradient-box" style="margin-bottom: 30px;">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page_title">Message from Vice Chancellor</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="vc_profile">
          <div class="row flex">
            <div class="col-lg-12 flex flex-valign-center">
              <div class="faculty_pic">
                <div class="photo"> <img src="img/profile-pic.jpg" alt="" > </div>
              </div>
              <div class="faculty_detail">
                <h3 class="name"> &lt;Name of Vice Chancellor&gt;</h3>
                <p class="designation">Professor</p>
              </div>
            </div>
          </div>
        </div>
        <p class="text-lexia">Dear Faculty, Scholars, Heads of Departments, and Esteemed Colleagues,</p>
        <p class="text-italic">It is with great enthusiasm that we announce the deployment of the new Research Information Management System (RIMS), Researgence, within our university. As we embark on this innovative journey, the importance of this advanced system in the landscape of academic research cannot be overstated.</p>
        <p class="text-italic">Researgence RIMS is designed to streamline our research processes, enhance the visibility of our scholarly output, and foster collaborative opportunities across various disciplines. By integrating this system, we aim to create a robust platform that supports the management and dissemination of our research activities, thereby enhancing our academic footprint on a global scale.</p>
        <p class="text-italic">I urge each one of you to engage actively with this new system. Whether you are a faculty member driving pioneering research, a scholar pursuing profound inquiries, or a Head of Department shaping the academic direction of our disciplines, your contributions through Researgence will be pivotal in achieving and surpassing the research goals of our institution.</p>
        <p class="text-italic">Let us leverage this powerful tool to its fullest potential, ensuring that our research endeavors are not only recognized but also resonate with the wider academic community. Your participation and dedication are crucial as we strive to elevate our university's standing as a leader in research excellence.</p>
        <p class="text-italic">Together, let's embrace this change, contribute to our shared goals, and continue to inspire and innovate within the academic world. </p>
          <p class="text-lexia">With anticipation for our collective success,<br>
<br>

[Name]<br>
<br>

Vice Chancellor<br>
<br>

[University Name]</p>
      </div>
    </div>
  </div>
</div>
<!-- Loading Scripts --> 

<script src="js/bootstrap.min.js"></script>
</body>
</html>
