.sideBarClose {
  padding-left: 250px;
  margin-left: 0px;
  }
  .sideBarOpen{
    padding-left: 0px;
  }
  li{
    cursor: pointer;
  }
  // .locations li{
  //   cursor: pointer;
  // }
  .locations li, .other-score li {
    margin: 10px;
    cursor: pointer;
}

.locations li .hover-text {
  display: none;
}

.locations li:hover .hover-text {
  display: block;
}
.locations li:hover p:not(.hover-text) {
display: none;
}